<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Conference</title>

    <!-- css -->
        <!-- css -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" href="index.html">

                        <!-- logo image  -->
                        <img src="/images/logo.png" alt="Logo">

                        WORKSHOP-I
                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->
                    <li class="active"><a data-scroll href="#about">About</a></li>
                    <li><a data-scroll href="#speakers">Speakers</a></li>
                    <li><a data-scroll href="#schedule">Schedule</a></li>
                    <li><a data-scroll href="#partner">Partner</a></li>
                    <!-- <li><a data-scroll href="#">Sponsorship</a></li> -->
                    <li><a data-scroll href="#faq">FAQ</a></li>
                    <li><a data-scroll href="#photos">Photos</a></li>

                </ul>
            </div>
        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
        <div class="intro">

            <h1>National Institute of Technology, Arunachal Pradesh</h1>
            <h5>In Association with</h5>
            <h1>TEQIP-III</h1>
            <h5>Presents</h5>
            <h3>One week Workshop on</h3>

            <h1>Recent Trends in Thermo Fluids Engineering</h1>

            <!--<p>First &amp; Largest Conference</p>-->

            <a class="btn btn-white" data-scroll href="#registration">Register Now</a>

        </div>
    </header>

    <section id="about" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h3 class="section-title">NIT Arunachal Pradesh</h3>

                    <p>The National Institute of Technology, Arunachal Pradesh was inaugurated on 18thAugust, 2010 as a member of a group of ten new NITs. These new NITs were established as Centre of excellence in technical education to combat the growing need of technological professionals in India as well as in the World. The Institute has been through many trials since its establishment in 2010; but ultimately has triumphed over all challenges and is thriving today with more than 880 students on roll and many distinguished members of faculty as well as a good many numbers of competent administrative personnel.</p>

                    <figure>
                        <img alt="" class="img-responsive" src="/images/college.jpg">
                    </figure>
                    <h3 class="section-title">Department of Mechanical Engineering</h3>
                    <p>The Department of Mechanical Engineering at National Institute of Technology, Arunachal Pradesh was established in August 2013. The department offers four-year degree B. Tech in Mechanical Engineering with an annual intake of 30 students. The Department has started PG programme (2 years M. Tech.) in Mechanical System Design and Innovation Technology from July 2016 and has also initiated research programme leading to Ph.D. from 2015-16. Within a very short period this Department already developed some New Laboratories with modern state of art facilities. A continuous effort is always laid on setting up new laboratories and improvement of facilities in the existing laboratories.

Our objective is to provide students with a quality mechanical engineering education, enhance the understanding and application of mechanical engineering principles, imparting knowledge with imagination for techno-economic development of the country, and improving the quality of life of the citizens of Arunachal Pradesh, North East region and the nation at large through teaching, research, and innovation.</p>
                </div><!-- /.col-sm-6 -->

                <div class="col-sm-6">

                    <h3 class="section-title multiple-title">TEQIP-III</h3>

                    <p>The Project, Third phase of Technical Education Quality Improvement Programme (referred to as TEQIP-III) is fully integrated with the Twelveth Five-year Plan objectives for Technical Education as a key component for improving the quality of Engineering Education in existing institutions with a special consideration for Low Income States and Special Category States (SCS) and support to strengthen few affiliated technical universities to improve their policy, academic and management practices.</p>
                    <ul class="list-arrow-right">
                      <h3 class="section-title multiple-title">About the Workshop</h3>
                      <p>We welcome you to this challenging field, which offers exciting opportunities in learning new techniques in the following areas:</p>

                        <li>Computational techniques in solving transportation of heat, momentum and species in flow through engineering systems</li>
                        <li>Development of micro-electro-mechanical systems (MEMS)</li>
                        <li>Enhancing heat transfer in nano and micro scales</li>
                        <li>Development of more efficient fuels and fuel systems</li>
                        <li>Exploring new energy sources, analyzing complex movement of biological fluids in biological systems, etc.</li>
                        <li>Recent developments in Microfluidics.</li>

                    </ul>

                </div><!-- /.col-sm-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section id="facts" class="section bg-image-1 facts text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <i class="ion-ios-calendar"></i>
                    <h3>2018<br>March 3- 8</h3>

                </div>
                <div class="col-sm-3">

                    <i class="ion-ios-location"></i>
                    <h3>NITAP<br>Yupia</h3>

                </div>
                <div class="col-sm-3">

                    <i class="ion-pricetags"></i>
                    <h3>150<br>Tickets</h3>

                </div>
                <div class="col-sm-3">

                    <i class="ion-speakerphone"></i>
                    <h3>07<br>Speakers</h3>

                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section>

    <section id="speakers" class="section speakers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h3 class="section-title">Speakers</h3>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="speaker">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="/images/speakers/speaker-1.jpg">
                        </figure>

                        <h4>Prof. Rajat Gupta</h4>

                        <p>Director, NIT Mizoram</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>

                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="speaker">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="/images/speakers/speaker-2.jpg">
                        </figure>

                        <h4>Dr. Pranab Kumar Mondal</h4>

                        <p>Department of Mechanical Engineering</p><p>IIT Guwahati</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>

                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="speaker">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="/images/speakers/speaker-3.jpg">
                        </figure>

                        <h4>Prof. Tapan Kumar Gogoi</h4>

                        <p>Professor, Tezpur University</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>

                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
<div class="row">
                <div class="col-md-4">

                    <div class="speaker">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="/images/speakers/speaker-4.jpg">
                        </figure>

                        <h4>Prof. Achintya Mukhopadhyay</h4>

                        <p>Department of Mechanical Engineering, Jadavpur University</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="speaker">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="/images/speakers/speaker-5.jpg">
                        </figure>

                        <h4>Dr. Sujoy Kumar Saha</h4>

                        <p>Professor ,Department of Mechanical Engineering 

Indian Institute of Engineering Science and Technology, Shibpur</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="speaker">
                        <figure>
                            <img alt="" class="img-responsive center-block" src="/images/speakers/speaker-6.jpg">
                        </figure>
                        <h4>Prof. Bijan Kumar Mondal</h4>
                        <p>Professor ,Department of Mechanical Engineering 

Indian Institute of Engineering Science and Technology, Shibpur</p>
                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <div class="speaker">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="/images/speakers/speaker-7.jpg">
                        </figure>

                        <h4>Prof. Asis Giri</h4>

                        <p>Department of Mechanical Engineering

NERIST, Nirjuli</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                    </div>
                </div>
                

               
            </div>
        </div>

    </section>

    <section id="registration" class="section registration">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Registration &amp; Pricing</h3>
                    <!-- Bhai, ye baad me kar lunga -->
                </div>
              
        </div> 
             <div class="row">
                <div class="col-md-12">
                                        <ul>
                                            <li>
                                                 <h4>Students - 300 INR</h4>
                                            </li>
                                            <li>
                                              <h4>Faculty - 700 INR</h4>  
                                            </li>
                                        </ul>
                                           
                                            
                        <p><br>Registration can be done in person by 5th March, 10:00 AM by contacting - </p>
                           <ol>
                               <li>
                                                           <p><b>Ankit Kumar</b><br> M.Tech Scholar<br> Mobile No. - 8598080454</p>

                               </li>
                               <li>
                                                           <p><b>Rahul Kishor Rajpoot</b><br> M.Tech Scholar<br> Mobile No. - 9540295044</p>

                               </li>
                           </ol> 

                </div>
                
            </div>
            
            
    <section id="location" class="section location">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="section-title">Event Location</h3>
                    <address>
                        <p>NIT Arunachal Pradesh<br> Yupia<br> Near DC Office, Papumpare<br> Phone: 9483971207<br> Email: example@mail.com</p>
                    </address>
                </div>
                <div class="col-sm-9">
                    <iframe src="https://www.google.co.in/maps/place/National+Institute+of+Technology,+Arunachal+Pradesh/@27.1597943,93.7357449,16z/data=!4m12!1m6!3m5!1s0x3743ffd750cfc067:0x5631747c4337d387!2sNational+Institute+of+Technology,+Arunachal+Pradesh!8m2!3d27.1596103!4d93.7389515!3m4!1s0x3743ffd750cfc067:0x5631747c4337d387!8m2!3d27.1596103!4d93.7389515?dcr=0" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
                    <ul class="social-block">
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                        <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>

